body
{
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	font-family: Arial;
	background: #D9E8F5;
}

/* controls whether to display the frame */
#content-frame
{
	/* border: none; */
}

/* setting for the site map navigation section*/
#site-map
{
	display:table;
	float: top;
	width: 895px;
	height: 30px;
	overflow: auto;
	margin: 5px;
	text-align: left;
	background: #F26101;
}

#course-header
{
	font-size: 20px;
	font-family: Arial;
	text-align: Center;
}

/* settings for the left side navigation section */
#navigation
{
	display:block;
	width: 150px;
	float: left;
	height: 500px;
	margin: 5px;
	overflow: auto;
	text-color: #000000;
	background: #D9E8F5;
}



/* settings for the course content section */
#main-content
{
	height: 500px;
	width: 545px;
	float: left;
	margin: 5px;
	overflow: auto;
	//padding-left: 5px;
	background: #FFFFFF;
}

#aside-info
{
	float: left;
	width: 150px;
	vertical-align: top;
	padding-left: 5px;
	text-align: left;
	background: #D9E8F5;
}

#aside-title-audio
{
	float: left;
	width: 150px;
	font-size: 14px;
	font-weight: bold;
	background: #D9E8F5;
	
	
}

#transcript
{
	//color: green;
	font-size: 12px;
	overflow: auto;
	width: 150px;
	background: #D9E8F5;
}

audio
{
	width: 150px;
	background: #D9E8F5;
}

#quiz-link
{
	display:none;
}

.sitemapnav
{
	display:table-cell;
	padding-left:4px;
	padding-right:4px;
	text-decoration:none;
	text-align:center;
	vertical-align:middle;
	color:#003354;
}

.sitemapnav:visited
{

	color:#003354;
}

.sitemapnav:hover
{
	
	text-decoration:underline;
	background:#F2792A;
}

.navlinks
{
	display:block;
	padding-top:2px;
	padding-bottom:2px;
	color:#003354;
}

.navlinks:hover
{
	background:#91BED4;
}

/* not used at this time
h1
{
	text-align: center;
//	text-decoration: underline;
	
}
#main-info
{
	float: left;
	width: 627px;
	//width 500px;
	//text-align: center;
	//background: ##9C9C9C;
	height:800px
}
*/




